@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  text-align: center;
  display: flex !important;
  flex-direction: column !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: white;
  margin: auto;
  font-size: 80px;
  height: 400px;
  width: 250px;
  /* padding: 20px;
  padding-top: 180px; */
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
:before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
.spade::before,
.spade:after {
  content: "\2660";
}
.club:before,
.club:after {
  content: "\2663";
}
.heart:before,
.heart:after {
  content: "\2665";
}
.diamond:before,
.diamond:after {
  content: "\2666";
}
